body{
    background-color: rgb(198, 160, 235);
}

header {
    background-color: rgb(174, 96, 248);
}

*/Classe Atribuída para a div que vai receber o logotipo */
logo{
    background-color: blueviolet;
}

nav{
    background-color: rgb(83, 43, 226);
}

main{
    background-color: rgb(105, 70, 235);
}

section{
    background-color: rgba(76, 0, 255, 0.733);
}

footer{
    background-color: rgb(81, 81, 180);
}