body{
    background-color: rgb(208, 181, 235);
}

header {
    background-color: rgb(150, 192, 255);
    padding: 3%;
}

*/Classe Atribuída para a div que vai receber o logotipo */
logo{
    background-color: rgb(43, 198, 226);
}

nav{
    background-color: rgb(231, 241, 194);
}

main{
    background-color: rgb(87, 126, 231);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

section{
    background-color: rgba(132, 216, 198, 0.733);
}

footer{
    background-color: rgb(216, 215, 128);
    padding: 3%;
}
.cabecalho{
    padding: 3%;
}
.rodape{
    padding: 3%;
}
h1,h2{
    line-height: 3;
}
